/*TODO GTB-知识点: - 不用新建index.css文件，写到index.scss文件里面就行了*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/*TODO GTB-知识点: - 这条TODO以上的代码都应该放到_reboot.scss文件里面去*/

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e8e9e8;
  padding-bottom: 20px;
  min-height: 100vh;
}
