* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  font-size: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #e8e9e8;
}
