.resume-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 27px;
}

.avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.say-hello {
  margin: 14px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.self-intro {
  font-weight: bold;
}
